* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  font-family: Helvetica, Arial, sans-serif;
  background-image: none;
  background-size: cover;
  background-position: center;
}

@media (min-width: 600px) {
  body {
    background-image: none;
  }
}

@media (min-width: 800px) {
  body {
    background-image: none;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: none;
  }
}

@media (min-width: 1600px) {
  body {
    background-image: none;
  }
}

img {
  max-width: 100%;
}

.keys-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 700px;
  z-index: 2;
}

.key {
	flex-basis: 70px;
	margin: 6px;
	padding: 10px;
	border: 2px solid #ececec;
	border-radius: 2px;
	color: black;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .1s;
	-webkit-appearance: none;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	box-shadow: rgba(25, 17, 34, 0.1) 0px 5px 20px;
	transform: translateZ(10px);
}

.key:hover,
.key:focus {
  border-color: paleturquoise;
  outline: none;
}

.key.js-active {
  transform: scale(1.3);
  border-color: slateblue;
}

.key-letter {
  font-size: 2rem;
  width: 100%;
}

.key-label {
  display: block;
  color: grey;
  font-size: 0.5rem;
}
